.solias-designer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100vh;
    &__workspace {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        flex-grow: 1;
    }
    &__panel-top {
        padding: 0;
        width: 100%;
        display: flex;
        position: initial;
        justify-content: space-between;
    }
    &__actions {
        position: initial;
    }
    &__panel-right {
        flex-basis: 230px;
        position: relative;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 42px);
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: var(--gjs-tertiary-color);
        }
        &::-webkit-scrollbar-thumb {
            background: var(--gjs-quaternary-color);
        }
    }
    &__canvas {
        flex-grow: 1;
        /* Reset some default styling */
        .gjs-cv-canvas {
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__blocks {
        .gjs-blocks-c {
            gap: 8px;
            padding: 8px;
        }
        .gjs-block {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 47%;
            height: 80px;
            margin: 0;
            padding: 8px;
            border: 1px solid var(--gjs-font-color);
            border-radius: 8px;
            transition: border 0.5 ease;
            &:hover {
                border: 1px solid var(--gjs-quaternary-color);
            }
            &-label {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
            }
        }
    }
    &__switcher {
        position: initial;
    }
    &__devices {
        position: initial;
    }
}
