@import './partials/theme';
@import './partials/icons.scss';
@import './partials/designer';

/* Normalize */
html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
