@import './partials/theme';
@import './partials/icons';
@import './partials/designer';
@import './partials/font';

/* Normalize */
html, body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
